:root {
  --primaryColor: #c6e5df;
  --secondaryColor: #c6b2c1;
  --accentColor: #ad343e;
  --backgroundColor: #eef2fa;
  --textColor: #27474e;
  --mainTransition: all 200ms ease-in-out;
  --headingFontFamily: "Playfair Display", serif;
  --paragraphFontFamily: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--textColor);
  font-family: var(--paragraphFontFamily);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
}

h1 {
  font-family: var(--headingFontFamily);
  font-size: 36px;
  letter-spacing: 2px;
  margin-bottom: 1.25rem;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 17px;
}

.btn {
  background: var(--secondaryColor);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 15px 0;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 18px;
  letter-spacing: 2px;
  margin: 30px auto;
  padding: 10px;
  max-width: 200px;
  text-align: center;
  text-transform: uppercase;
  transition: var(--mainTransition);
}

/* ===============
HOME PAGE
=============== */

.nav-header {
  font-family: "Source Code Pro", monospace;
}

.nav-links {
  display: none;
}

.nav {
  align-items: center;
  display: grid;
  padding: 10px;
  transition: var(--mainTransition);
}

.nav-center {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}

.nav-header {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
}

.nav-btn {
  background-color: transparent;
  border-color: transparent;
  color: var(--secondaryColor);
  cursor: pointer;
  font-size: 2rem;
  justify-self: end;
}

.sidebar {
  align-items: center;
  background-color: var(--backgroundColor);
  color: white;
  display: grid;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: var(--mainTransition);
  transform: translateX(-100%);
  z-index: 4;
}

.show-sidebar {
  transform: translateX(0);
}

.sidebar-links {
  list-style: none;
}

.sidebar-links a {
  color: var(--textColor);
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  text-transform: uppercase;
  transition: var(--mainTransition);
}

.sidebar-links a:hover {
  color: var(--accentColor);
  transition: var(--mainTransition);
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: left;
  list-style: none;
  margin-top: 1rem;
  width: 10rem;
}

.social-icon {
  font-size: 1.5rem;
  color: var(--secondaryColor);
  transition: var(--mainTransition);
}

.social-icon:hover {
  color: var(--accentColor);
}

.close-btn {
  background: transparent;
  border: transparent;
  color: var(--secondaryColor);
  font-size: 3rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: var(--mainTransition);
}

.close-btn:hover {
  color: var(--accentColor);
  cursor: pointer;
  transition: var(--mainTransition);
}

.home-page-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  margin: 15px 20px;
}

.intro-container {
  background-color: var(--primaryColor);
  border-radius: 40px 40px 40px 0;
  padding: 30px;
}

.image-container img {
  border-radius: 0px 40px 40px 40px;
}

/* ===============
ABOUT PAGE
=============== */

.about-page-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  margin: 15px 20px;
}

.bio-container {
  background-color: var(--secondaryColor);
  border-radius: 0px 40px 40px 40px;
  padding: 30px;
}

.skills-container {
  background-color: var(--backgroundColor);
  border-radius: 40px 40px 0px 40px;
  padding: 30px;
}

.contact-container {
  background-color: var(--primaryColor);
  border-radius: 40px 0px 40px 40px;
  padding: 30px;
}

.working-together-icons {
  margin-top: 10px;
  text-align: center;
}

/* ===============
MEDIA QUERY: for big screens
=============== */

@media screen and (min-width: 768px) {
  .nav {
    background-color: white;
  }

  .nav-btn {
    display: none;
  }

  .nav-links {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    justify-self: end;
    list-style: none;
  }

  .nav-links a {
    color: var(--secondaryColor);
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: var(--mainTransition);
  }

  .nav-links a:hover {
    color: var(--secondaryColor);
  }

  .nav-center {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }

  .home-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 60px;
  }

  .intro-container {
    padding: 120px 60px 60px 60px;
  }
}

/* ===============
END OF MEDIA QUERY
=============== */
